{% for host in groups['all'] %}
{{ if hostvars['host']['ansible_facts']['hostname'] != clientb and hostvars['host']['ansible_facts']['hostname'] != serverg and hostvars['host']['ansible_facts']['hostname'] != serverf }}
service_type: host
addr: {{ hostvars['host']['ansible_facts']['default_ipv4']['address'] }}
hostname: {{ hostvars['host']['ansible_facts']['hostname'] }}
---
{% endfor %}

service_type: mon
placement:
  hosts:
    - clienta
    - serverc
    - serverd
    - servere
---
service_type: rgw
service_id: realm.zone
placement:
  hosts:
    - serverc
    - serverd
---
service_type: mgr
placement:
  hosts:
    - clienta
    - serverc
    - serverd
    - servere
---
service_type: osd
service_id: default_drive_group
placement:
  hosts:
    - serverc
    - serverd
    - servere
data_devices:
  paths:
    - /dev/sdb
    - /dev/sdc
    - /dev/sdd